# Notas Python básico 

## Variables
Las variables en python se asignan mediante el operador `=`

In [1]:
users = 6

## Función `print()`
Una de las funciones más útiles en python es `print()` que similar que en R me permite ir evaluando mis resultados

In [2]:
print(users)

6

## Operaciones aritméticas
En Python similar a otros lenguajes de priogramación permite realizar operaciones aritméticas, siempre respetando el orden de las operaciones

In [3]:
print(4 + 5)
print(5 - 4)
print(5 * 4)
print(5/4)
print(5 % 4)

9
1
20
1.25
1

## Tipos de datos
En python existen 4 tipos de datos basicos: 
1. Cadenas de caracteres o strings `str`.
2. Números enteros `int`.
3. Números decimales `float`.
4. Valores booleanos `bool`.

In [4]:
## Tipos de datos básicos
number = 5
decimales = 5.23 
cadena = "Hola mundo"
veracidad = True

print(type(number))
print(type(decimales))
print(type(cadena))
print(type(veracidad))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Conversión de datos

- Flotantes a enteros
Cambio de número decimales a enteros. Este cambio hace que se **pierdan** decimales print(int(decimales)).

- Strings a enteros
Cambio de string a un número entero.

In [5]:
## Flotantes a enteros 
print(int(decimales))

## Strings a enteros
print(int("5"))
print(str(5.2))

5
5.2

En algunas ocasiones queremos convertir tipos de datos que son imposibles de convertir por ejemplo convertir strings en números.

In [6]:
## Conversión de strings a números
print(int("Hola mundo"))

ValueError: invalid literal for int() with base 10: 'Hola mundo'

En estos caso Python marca que existe un error.

## Mensajes de error
Python tiene un sistema de mensajes de error indicando en la terminal el tipo de error y el lugar donde se encuentra el error. Dentro de los mensajes de error se incluyen : 

- Sintaxis incorrecta 
- Operaciones prohibidas
- Referencia inválida

In [8]:
## Sintaxis incorrecta
print("Hola mundo"

SyntaxError: incomplete input (3367145748.py, line 7)

In [10]:
## Operaciones prohibidas
print(10/0)

ZeroDivisionError: division by zero

In [11]:
## Referencia inválida
cadena = 345
print(cadenas)

NameError: name 'cadenas' is not defined